<section class="add-file-section">
  <h1>Añadir un fichero de datos</h1>

  <p>
    Para añadir un fichero al menú de la aplicación necesitas dos cosas:
  </p>

  <dl>
    <dt>Un alias</dt>
    <dd>
      Será el nombre por el que identifiques los datos en el menú. Puedes llamarlo como
      quieras, pero que no contenga dos puntos (<strong class="separator">:</strong>), ya que actúa como separador.
    </dd>

    <dt>Una URL</dt>
    <dd>
      La ubicación del archivo a descargar que contiene los datos.
    </dd>

  </dl>

  <p>
    Introduce el alias y la URL separados por dos puntos en el campo habilitado.
    Por ejemplo:
  </p>

  <pre><strong class="alias">mi patio</strong><strong class="separator">:</strong><strong class="url">https://example.com/mi-pluviometro.txt</strong></pre>
</section>

<section>
  <h1>Formato del fichero de datos</h1>

  <p>
    El archivo descargado es un simple archivo de texto (<strong>.txt</strong>) con varias líneas de datos.
  </p>

  <p>
    Una linea puede ser de tres tipos:
  </p>

  <dl>
    <dt>Comenario</dt>
    <dd>Si la linea comienza con el símbolo <strong>#</strong>.</dd>

    <dt>Vacía</dt>
    <dd>Una linea en blanco, con espacios o tabuladores.</dd>

    <dt>Datos</dt>
    <dd>La linea contiene datos para pintar en los gráficos.</dd>
  </dl>

  <p>
    Cada línea puede contener espacios en blanco o tabuladores al principio o al final, pero se ignoran. Todos los
    caracteres después del símbolo <strong>#</strong> en una línea se consideran comentarios y también se ignoran.
  </p>

  <h2>Formato de linea de datos</h2>

  <p>
    Una linea de datos se compone de cuatro campos separados con un punto y coma (<strong class="separator">;</strong>),
    y un posible comentario al final:
  </p>

  <pre>fecha <strong class="separator">;</strong> litros <strong class="separator">;</strong> color <strong class="separator">;</strong> mensaje # comentario</pre>

  <section class="date-section">
    <h3>Fecha</h3>

    <p>Existen tres posibilidades para la fecha:</p>

    <dl>
      <dt>Día: dd<strong class="separator">/</strong>mm<strong class="separator">/</strong>yyyy</dt>
      <dd>
        Este formato está destinado para el gráfico por días. Se especifica tanto el día, como el mes, como el año
        separados por barras.
      </dd>

      <dt>Mes: <strong>xx</strong><strong class="separator">/</strong>mm<strong class="separator">/</strong>yyyy</dt>
      <dd>
        Este formato está destinado para el gráfico por meses. Sólo se especifica el mes y el año. El día son
        literalmente dos x.
      </dd>

      <dt>
        Año: <strong>xx</strong><strong class="separator">/</strong><strong>xx</strong><strong
          class="separator">/</strong>yyyy
      </dt>
      <dd>
        Este formato está destinado para el gráfico por años. Sólo se especifica el año. El día y el mes son
        literalmente dos x.
      </dd>
    </dl>

    <p>
      Si no se especifican datos por año, se calculan automáticamente a partir de los datos por meses. Si no se
      especifican datos por meses, se calculan automáticamente a partir de los datos por días.
    </p>
  </section>

  <section>
    <h3>Litros</h3>

    <p>
      Los litros es un número con la cantidad total que ha llovido para un día, un mes o un año.
    </p>

    <p>
      Si el campo se deja en blanco, se entiende que el objetivo es simplemente establecer una notificación. En tal
      caso, los litros se siguen calculando a partir de los datos por meses o por días.
    </p>

    <p>
      Si se indican los litros, estos serán los que aparezcan en el gráfico, sobreescribiendo posibles datos
      calculados a partir de meses y días.
    </p>
  </section>

  <section>
    <h3>Color y mensaje</h3>

    <p>
      El tercer y cuarto campo están relacionados con las notificaciones y son opcionales, pero si aparece uno debe
      aparecer el otro.
    </p>

    <p>
      El color se especifica mediante un nombre de color HTML.
    </p>

    <p>
      El mensaje es el texto que aparecerá en el diálogo al pulstar la notificación. No puede contener el separador
      <strong class="separator">;</strong> ni el caracter para el comentario <strong>#</strong>.
    </p>
  </section>

  <section>
    <h3>Comentario</h3>

    <p>
      Al final del todo, como ya se ha indicado, podemos poner un comentario que es ignorado. Es sólo para información
      de
      quien mantiene el fichero de datos.
    </p>
  </section>
</section>

<section>
  <h1>Notificaciones</h1>

  <p>
    Las notificaciones son opcionales. Si no se ponen, no es necesario añadir los separadores en la linea de datos.
    Existen tres lugares en los que se puede poner una notificación.
  </p>

  <dl>
    <dt>Por día</dt>
    <dd>
      Aparece en el gráfico por días en un día concreto. El formato de fecha que hay que usar es por día.
    </dd>

    <dt>Por mes</dt>
    <dd>
      Aparece en el título del gráfico por días junto al nombre del mes y el año. El formato de fecha que hay que usar
      es por mes.
    </dd>

    <dt>Por año</dt>
    <dd>
      Aparece en el título del gráfico por meses junto al año. El formato de fecha que hay que usar es por año.
    </dd>
  </dl>
</section>

<section>
  <h1>Ejemplo</h1>

  <p>
    A continuación dejo un ejemplo de fichero de datos con algún comentario:
  </p>

  <pre class="file-example"># Fichero de datos de la lluvia de mi patio: mi-pluviometro.txt

02/11/2023;2 # Indica que el 2 de noviembre de 2023 llovió 2 litros.

xx/03/2022;57 # Indica que el mes de marzo de 2022 llovió en total 57 litros.

# Indica que el año 2021 llovió un total de 453 litros y 
# además establece una notificación de color rojo en el título del gráfico por meses.
xx/xx/2021;453;red;Fue un año caluroso.

# A continuación se indica la lluvia para el día 2 de febrero de 2020.
# También se indica una notificación para el mismo mes (sin litros).
# La lluvia total del mes se calcula a partir de la lluvia de los días del mes.
02/02/2020;7
xx/02/2020;;green;Este me ha helado mucho.

# A continuación se indica la lluvia para el día 5 de julio de 2020.
# También se indica una notificación para el mismo mes (con litros).
# También se indica la cantidad para el año entero.
# La lluvia del mes NO se calcula a partir de la lluvia de los días.
# La lluvia del año NO se calcula a partir de la lluvia de los meses.
05/07/2020;3
xx/07/2020;5;orange;Este mes ha hecho muchísimo calor.
xx/xx/2020;36</pre>
</section>

<a class="close-button" routerLink="/" data-test-id="back-button">
  <span>&#x21A4;</span> Entendido
</a>