:host {
  display: block;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 1.5rem;
  color: #00a2e8;
}

h2 {
  font-size: 1.2rem;
  color: #00a2e8;
}

h3 {
  font-size: 0.9rem;
  color: #c1c100;
  margin-bottom: 5px;
}

h3 + * {
  margin-top: 5px;
}

dl {
  dt {
    color: #c1c100;
    padding-bottom: 5px;
  }

  dd {
    margin-bottom: 10px;

    p {
      margin: 0 0 5px 0;
    }
  }
}

pre {
  overflow: auto;
  padding: 5px;
}

.alias {
  color: #05c205;
}

.separator {
  color: red;
}

.url {
  color: #00dede;
}

.date-section {
  dl {
    dt {
      color: black;
      font-family: monospace;
    }

    dd {
      margin-left: 10px;
    }
  }
}

.file-example {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 15px;
}

.close-button {
  display: block;
  position: sticky;
  bottom: 0;
  padding: 20px;
  background-color: #00a2e8;
  color: white;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;

  span {
    font-size: 1.6rem;
  }
}
