<app-data-file-selector class="data-file-selector" (isLoading)="isDataFileLoading = $event"
  (error)="onLoadDataFileError($event)" (loadNewDataFile)="onLoadDataFile($event)">
</app-data-file-selector>

<div class="figures-container">
  <figure class="graphic-scroller" #daysGraphicScroller (scroll)="daysGraphicScrollEvents$.next()">
    <app-days-graphic [month]="selectedMonth > 0 ? selectedMonth - 1 : 11"
      [year]="selectedMonth > 0 ? selectedYear : selectedYear - 1" [loading]="isDataFileLoading"
      [error]="isErrorLoadingDataFile" (showPreviousMonth)="showPreviousMonth()" (showNextMonth)="showNextMonth()"
      (showPopUp)="popUp.show = true; popUp.content= $event;">
    </app-days-graphic>

    <app-days-graphic [month]="selectedMonth" [year]="selectedYear" [loading]=" isDataFileLoading"
      [error]="isErrorLoadingDataFile" (showPreviousMonth)="showPreviousMonth()" (showNextMonth)="showNextMonth()"
      (showPopUp)="popUp.show = true; popUp.content= $event;">
    </app-days-graphic>

    <app-days-graphic [month]="selectedMonth < 11 ? selectedMonth + 1 : 0"
      [year]="selectedMonth < 11 ? selectedYear : selectedYear + 1" [loading]="isDataFileLoading"
      [error]="isErrorLoadingDataFile" (showPreviousMonth)="showPreviousMonth()" (showNextMonth)="showNextMonth()"
      (showPopUp)="popUp.show = true; popUp.content= $event;">
    </app-days-graphic>
  </figure>

  <figure class="graphic-scroller" #monthsGraphicScroller (scroll)="monthsGraphicScrollEvents$.next()">
    <app-months-graphic [selectedMonth]="selectedMonth" [year]="selectedYear - 1" [loading]="isDataFileLoading"
      [error]="isErrorLoadingDataFile" (showPreviousYear)="showPreviousYear()" (showNextYear)="showNextYear()"
      (showMonth)="selectMonthOfSelectedYear($event)" (showPopUp)="popUp.show = true; popUp.content= $event;">
    </app-months-graphic>

    <app-months-graphic [selectedMonth]="selectedMonth" [year]="selectedYear" [loading]="isDataFileLoading"
      [error]="isErrorLoadingDataFile" (showPreviousYear)="showPreviousYear()" (showNextYear)="showNextYear()"
      (showMonth)="selectMonthOfSelectedYear($event)" (showPopUp)="popUp.show = true; popUp.content= $event;">
    </app-months-graphic>

    <app-months-graphic [selectedMonth]="selectedMonth" [year]="selectedYear + 1" [loading]="isDataFileLoading"
      [error]="isErrorLoadingDataFile" (showPreviousYear)="showPreviousYear()" (showNextYear)="showNextYear()"
      (showMonth)="selectMonthOfSelectedYear($event)" (showPopUp)="popUp.show = true; popUp.content= $event;">
    </app-months-graphic>
  </figure>

  <figure>
    <app-years-graphic [selectedYear]="selectedYear" (showYear)="selectYear($event)" [loading]="isDataFileLoading"
      [error]="isErrorLoadingDataFile">
    </app-years-graphic>
  </figure>
</div>

<div class="pop-up-wrapper" *ngIf="popUp.show">
  <div class="content">
    <div>{{popUp.content}}</div>
    <button (click)="popUp.show = false" data-test-id="close-pop-up-button">Cerrar</button>
  </div>
</div>