:host {
  display: block;
}

.data-file-selector {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.rainfall-notification {
  margin: 60px auto 0; // 60px for fixed data-file-selector
}

.figures-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 15px;
  max-width: 1000px;
}

figure {
  width: calc(50% - 20px);
  margin: 0;
  padding: 0;
}

.graphic-scroller {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  overflow: hidden;
  scroll-behavior: smooth;
  transition: height 0.5s;
}

.pop-up-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.411);
  z-index: 20;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 3px solid black;
    border-radius: 8px;
    background-color: white;
    width: 80%;
    max-width: 500px;

    button {
      margin-top: 20px;
      border: none;
      background-color: unset;
      text-decoration: underline;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
}

@media (max-width: 576px) {
  figure {
    width: 100%;
  }

  .graphic-scroller {
    overflow-x: auto;
    overflow-y: hidden;
  }
}
