:host {
  display: block;
  background-color: #c8c8c8;
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px;
}

.selected-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  .arrow {
    width: 30px;
    transition: transform 0.3s;

    &--rotated {
      transform: rotate(180deg);
    }
  }
}

.collapsible-container {
  transition: height 0.5s;

  hr {
    border: 1px solid black;
  }

  .option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    padding: 5px 0;

    .alias {
      flex-grow: 1;
      cursor: pointer;
    }

    .trash-can-svg {
      fill: #bc2f2f;
      stroke: #bc2f2f;
      width: 35px;
      height: 35px;
      flex-shrink: 0;
      cursor: pointer;
    }
  }

  .new-option {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;

    .info {
      background-color: white;
      border: 3px solid #00a2e8;
      border-radius: 50%;
      text-decoration: none;
      width: 30px;
      height: 30px;
      flex-shrink: 0;
      color: #00a2e8;
      font-style: italic;
      font-weight: bold;
      font-size: 1.3rem;
      font-family: Cambria, serif;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    input {
      width: 50%; // any value to make flex-grow work properly
      flex-grow: 1;
      display: inline-block;
      padding: 5px;
      border: 2px solid black;
      border-radius: 5px;
      font-size: 1.3rem;
      margin-bottom: 2px;

      &.error {
        // used in the component with js
        border: 2px solid #bc2f2f;
        outline-color: #bc2f2f;
      }
    }

    button[type="submit"] {
      border: none;
      background-color: transparent;

      .arrow {
        cursor: pointer;
        width: 30px;
      }
    }
  }
}

.pop-up-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.411);
  z-index: 20;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 3px solid black;
    border-radius: 8px;
    background-color: white;
    width: 80%;
    max-width: 500px;

    .buttons-wrapper {
      display: flex;
      justify-content: space-evenly;
      width: 100%;

      button {
        margin-top: 20px;
        border: none;
        background-color: unset;
        text-decoration: underline;
        font-size: 1.2rem;
        cursor: pointer;

        &.keep {
          color: #00a2e8;
        }

        &.delete {
          color: #bc2f2f;
        }
      }
    }
  }
}
