<div (click)="toggleCollapsible()" class="selected-data">
  <span>Datos de <strong>{{this.selectedDataFile.alias}}</strong></span>
  <svg viewBox="0 0 10 10" [ngClass]="{arrow: true, 'arrow--rotated': isCollapsibleOpen}">
    <polygon points="2,4 8,4 5,7" />
  </svg>
</div>

<div #collapsibleContainer class="collapsible-container">
  <hr>

  <div class="option" *ngFor="let file of dataFiles; let i = index">
    <span class="alias" (click)="selectDataFile(file)"> {{file.alias}} </span>

    <svg viewBox="0 0 100 100" appTrashCanSvg class="trash-can-svg"
      (click)="popUp.show=true; popUp.dataFile = file;"></svg>
  </div>

  <form class="new-option" (submit)="addNewDataFile($event)">
    <button type="button" class="info" (click)="showDataFileFormatDialog = true">i</button>

    <input type="text" placeholder="alias:url">

    <button type="submit">
      <svg viewBox="0 0 100 100" class="arrow">
        <polygon points="23,15 90,50 23,85 45,50" fill="white" />
      </svg>
    </button>
  </form>
</div>

<div class="pop-up-wrapper" *ngIf="popUp.show">
  <div class="content">
    <p>
      ¿Seguro que quieres eliminar los datos de <strong>{{popUp.dataFile.alias}}</strong>?
    </p>

    <div class="buttons-wrapper">
      <button class="keep" (click)="popUp.show = false">Mantener</button>
      <button class="delete" (click)="deleteDataFile(popUp.dataFile)">Eliminar</button>
    </div>
  </div>
</div>

<app-data-file-format-explanation *ngIf="showDataFileFormatDialog" class="data-file-format-explanation-pop-up">
</app-data-file-format-explanation>