:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  max-width: 1030px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.content {
  flex-grow: 1;
  padding: 0 15px;
  overflow: auto;
}

.close-button {
  padding: 20px;
  border: none;
  background-color: wheat;
  font-size: 1.2rem;
  cursor: pointer;
}

@media (max-width: 576px) {
  :host {
    padding-bottom: 0;
  }
}
